.wrapper-form {
  box-sizing: border-box;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 70%);
  padding: 40px 30px;
  border-radius: 1rem;
  background-color: #fff;
}